
##########################
# global repo ignores
##########################
**/.gradle
**/lib
**/logs
**/build
**/bin
**/classes

.DS_Store
*.swp
*.bak
org.eclipse.jdt.ui.prefs


##########################
# root directory ignores
##########################
/_RELEASES
/deps
/instance.pid
/log.txt
/*.fifo
/pygmymarmoset.properties
/PygmyMarmoset.xml
